/* FILEPATH: /d:/Hunter/Documents/GitHub/camp-st-basil/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 2rem;
}

main {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1260px;
    padding: 3rem;
    background-color: lightyellow;
    border-radius: 2rem;
    position: relative;
    z-index: 1;
    margin-top: 2rem;
}

nav {
    background-color: #3fa8ee80;
    backdrop-filter: blur(10px);
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    max-width: 960px;
    margin:  auto;
    height: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 1.5rem;
    width: 70%;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2; 
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #f3f3f3;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #555;
}

nav ul li .active {
    color: #f1fa9e;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f3f3f3;
    background-color: #3fa8ee80;
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    padding: 2rem;
}

.content img {
    width: 50%;
    height: auto;
    border-radius: 1rem;
}

.content.front-page h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
